.audioPlayer {
  position: fixed;
  bottom: var(--spacing-xs);
  left: var(--spacing-xs);
  right: var(--spacing-xs);
  height: 6rem;
  background-color: var(--panel-color);
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  padding: var(--spacing-sm);
  box-sizing: border-box;
}
