.button {
  background-color: var(--background-color);
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
  border: none;
  padding: var(--spacing-sm) var(--spacing-sm);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-weight: 1rem;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  width: 100%;
}

.button.primary {
  background-color: var(--primary-color);
  color: var(--background-color);
  fill: var(--background-color);
}
.button.success {
  background-color: var(--success-color);
  color: var(--background-color);
  fill: var(--background-color);
}
.button.error {
  background-color: var(--error-color);
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
}
